{% extends 'base.html' %}
{% block title %}
    主页
{% endblock %}

{% block header_extends %}

{% endblock %}

{% block nav_home_activate %}active{% endblock %}
{% block content %}
    <h3 class="home-content">欢迎</h3>
{#    <style type="text/css">#}
{#    h3.home-content{#}
{#        font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;#}
{#        font-size: 231%;#}
{#        position: absolute;#}
{#        left: 55%;#}
{#        top: 50%;#}
{#        transform: translate(-50%,-50%);#}
{#    }#}
{##}
{#    </style>#}
{% endblock %}